.level {
  padding: 0;
  margin: 0 0 0 18px;
}

.panel {
  padding: 0;
  margin: 0;
}

.no-child-level {
  /* margin-left: 0; */
}

.no-child-panel {
  margin-left: 24px;
}

.ant-collapse-header {
  margin: 0;
  padding: 8px 0 !important;
}

.ant-collapse-content-box {
  margin: 0;
  padding: 0 0 !important;
}
